<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imóveis</title>
</head>
<body>
    <h1>Imóveis disponíveis</h1>
    {{ #properties }}
        <ul>
            <li>
                <p><strong>Código:</strong> {{ codigo }}</p>
                <h3><strong>Imóvel:</strong> {{ nome }} - {{ valor }}</h3>
                <a href="{{ urlImovel }}">Link do Imóvel</a>
            </li>
            <li>{{ detalhesImovel }}</li>
        </ul>
        <hr>
    {{ /properties }}
</body>
</html>